{% extends 'bootstrap/base.html' %}

{% block title %}

      {% if title %}
      Connect4 - {{title}}
      {% else %}
      Connect4
      {% endif %}
{% endblock %}

{% block content %}
        <div>
            Jona's game room:
            <a href="{{ url_for('index') }}">Home</a>
            <a href="{{ url_for('connect4') }}">Connect4</a>
        </div>
        <hr>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
        {% block app_content %}{% endblock %}
{% endblock %}

{% block scripts %}
    {{ super() }}
    {% block template_script %}{% endblock %}
{% endblock %}